* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    margin-top: 0;
    padding: 0px;
}

/* header style */
header {
    height: 130px;
    background: #FFF;
    width: auto;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.pinkzone {
    color: #FF42A5;
}

.logologo {
    width: 86.041px;
    height: 40px;
}

.logo-and-title-title {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-and-title {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.container-header-1 {
    display: flex;
    justify-content: space-around;
}

.about-us-part {
    display: flex;
    gap: 32px;
    margin-top: 55px;

}

.about-us-part-button {

    width: 268px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

    margin-top: -18px;

}

.about-us-in {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 16px 24px;
    gap: 10px;
}

.about-us-in-text {
    margin-top: -6px;
    margin-right: 25px;
}

.about-us-part-pera {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-1 {
    height: 700px;
    width: auto;
    background-color: #FFF;
    background-image: url("./images/Group14.png");
    background-repeat: no-repeat;
    background-size: 60% 100%;
    margin-bottom: 0px;
    margin-left: 0px;

}

.left-part-section-1-play {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.left-part-section-1-goat {
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-part-section-1-paragraph-text {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    padding-bottom: 17px;
}

.left-part-section-1-button-1 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
}

.left-part-section-1-button-2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
}

.left-part-section-1-paragraph {
    padding-top: 24px;
    padding-bottom: 17px;
}

.section-1-container {
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
}

.right-part-section-1-pic img {
    height: 781px;
    width: 711px;
}

.left-part-section-1 {
    margin-top: 140px;
}

.section-3 {
    height: 800px;
    align-items: center;
    text-align: center;
}

.section-3-heading {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-3-heading-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-3-paragraph {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.section-3-photo-container {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 240px;
}

.section-3-indivisual-pic {
    width: 242px;
    height: 300px;

}

.section-3-indivisual-pic:hover {
    cursor: pointer;
    border-radius: 16px;
    border: 2px solid blue;
    color: black;
    opacity: 60%;

}

.section-3-container {
    padding-top: 120px;
}





@media screen and (max-width:425px) {
    header {
        height: auto;
    }

    .container-header-1 {
        flex-direction: column;
    }

    .logo-and-title {
        flex-direction: column;
        align-items: center;
    }

    .section-1 {
        height: 900px;
    }

    .about-us-part {
        flex-direction: column;
        align-items: center;
    }

    .section-1-container {
        flex-direction: column-reverse;
        align-items: center;

    }

    .right-part-section-1-pic {
        height: auto;
        width: 380px;
        margin-right: 0px;
        margin-top: 50px;
    }

    .left-part-section-1 {
        margin-top: 15px;
        margin-right: 40px;
        margin-left: 20px;
    }
    .section-3{
        height: 100%;
        width: auto;
    }
    .section-3-container{
        padding-left: 5px;
        padding-right: 5px;
    }
    .section-3-photo-container{
        flex-direction: column;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {
    header {
        height: auto;
    }

    .container-header-1 {
        flex-direction: column;
        align-items: center;
    }
    .section-1{
        height: 100%;
    }
    
    .section-1-container {
        flex-direction: column;
        align-items: center;

    }
    ..section-3{
        height: 120%;
        width: auto;
    }
    .section-3-photo-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        padding-right: -200px;
    }
}